.event-tail {
  border-bottom: 1px solid var(--gold-accent);
  width: 100%;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title-tail {
  font-size: 4vh;
  font-weight: bold;
  color: var(--gold-main);
}

.tickets-tail {
  margin-left: 10px;
}

.tickets-tail,
.link-tail {
  color: var(--gold-main);
}

.tickets-tail,
.link-tail:hover {
  color: var(--gold-accent);
}

.links-tail {
  display: flex;
  flex-direction: row;
}

a[href^="http"] {
  color: var(--gold-main); /* Change text color */
  text-decoration: none; /* Underline the link */
}

a[href^="http"]:hover {
  color: var(--gold-accent); /* Change text color */
  text-decoration: none; /* Underline the link */
}
